*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  font-family: $font-text;
  padding: 0.5rem 0.1rem 0 0.1rem;
  background: linear-gradient(90deg, #535153 0%, #363636 80%);
}
/* --------------------header à propos-------------------- */
.top-a-propos {
  background: url(../ressources/images/background.webp) no-repeat bottom;
  background-size: cover;
  border: 5px solid $color-primary;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  width: 70%;
  border-radius: 4px;

  .item-top-propos {
    display: flex;
    align-items: center;
  }
  .arrow-left {
    position: absolute;
    top: 48px;
    left: 225px;
  }

  .title-a-propos {
    font-family: $font-title;
    letter-spacing: 7px;
    font-size: 65px;
    text-align: center;
    padding: 5px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 auto 15px;
  }
}
/* --------------------Présentation-------------------- */
.presentation {
  margin: 100px auto;
  text-align: center;
  width: 70%;
  background: $color-secondary;
  border: 4px solid $color-primary;
  padding: 15px 3px;
  border-radius: 4px;

  h3 {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .txt-presentation {
    font-size: 20px;
    padding: 5px;
    line-height: 1.7;
    text-align: left;
    margin: 0 auto;
  }
}

/* --------------------Main-------------------- */
.section {
  border-bottom: 1px dashed $color-primary;
  margin: 2rem 0 4rem 0;
  padding: 4rem;
}
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 2rem;
}

.features__img {
  width: 500px;
  height: 300px;
  box-shadow: 3px 6px 11px 0px rgba(58, 57, 57, 0.75);
  transition: 0.2s ease-in-out;
}
.features__img2 {
  width: 450px;
  height: 550px;
}

.features__img:hover {
  transform: scale(1.05);
}

.features__feature {
  align-self: center;
  justify-self: center;
  font-size: 1.4rem;
  background: url(../ressources/images/background.webp) no-repeat center fixed;
  border: 5px solid $color-primary;
  border-radius: 3px;
}
.features__feature p {
  font-size: 20px;
  width: 100%;
  line-height: 1.5;
  position: relative;
  padding: 10px;
  text-shadow: -4px -1px 7px rgba(57, 57, 57, 0.45);
}
.features__feature p strong {
  font-weight: bold;
}

.features__feature p a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}

.features__titles {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1rem;
  font-family: $font-title;
}
.features__header {
  font-size: 55px;
  margin: 7px 0px 0px 8px;
}
// ----------------Form Contact----------------//
.section-form {
  @include backgrounds;
  width: 60%;
  margin: 0 auto;

  .form-title {
    font-family: $font-title;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
  }

  .formulaire {
    margin: 25px auto 25px;
    padding: 17px 20px;
    display: flex;
    justify-content: center;
    width: 39%;
    overflow: hidden;
    border: 2px solid #333;
    box-shadow: 1px 7px 8px 0px rgba(33, 33, 33, 0.75);
    border-radius: 3px;
    background-image: linear-gradient(to right, #caa776);
    background-size: 200%;
    color: #000;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    .form-link {
      font-size: 27px;
      color: rgb(31, 30, 30);
      font-weight: 600;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
  }
  .formulaire:hover {
    background-position: 100%;
    color: #635644;
    transform: scale(0.95);
  }
  .form-link:hover {
    color: #000;
    font-weight: bolder;
  }
}
