@media screen and (max-width: 1200px) {
  .cadre {
    position: absolute;
    top: 27%;
    left: 50%;
  }

  .header__img {
    transform: translateY(0);
    margin-top: 5rem;
  }
  .header__title {
    flex: 0.6;
    grid-template-rows: 3fr 2fr;
    row-gap: 1rem;
    margin-top: 5rem;
  }
  .section {
    padding: 5rem 2rem;
  }
  .features {
    grid-template-columns: 1fr;
    margin: 0 5rem;
  }
  .features__img {
    width: 100%;
    height: 550px;
  }
  .features__img2 {
    width: 90%;
    height: 760px;
  }

  .form-contact {
    width: 35%;
  }
}
@media screen and (max-width: 1024px) {
  .cadre {
    position: absolute;
    top: 30%;
  }

  .features {
    margin: 0;
  }
  .features__img,
  .features__img2 {
    margin: 0 auto;
  }

  .form-contact {
    padding: 20px 30px;
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .top-a-propos {
    margin: 10px auto;
    padding: 20px 0px 0px 0px;
    width: 90%;

    .arrow-left {
      position: absolute;
      top: 64px;
      left: 80px;
    }
  }
  .cadre {
    position: absolute;
    top: 28%;
  }
  .carousel .changeHidden {
    width: 30rem;
  }

  .carousel .changeHidden .element {
    font-size: 25px;
  }

  .features__img {
    width: 95%;
    height: 380px;
  }
  .features__img2 {
    width: 95%;
    height: 605px;
  }

  .form-contact {
    padding: 20px 5px;
    width: 65%;
    margin: 50px auto 100px;
  }
}

@media screen and (max-width: 550px) {
  .top-a-propos {
    .arrow-left {
      position: absolute;
      top: 64px;
      left: 60px;
    }
    .title-a-propos {
      font-size: 55px;
    }
  }

  .cadre {
    position: absolute;
    top: 24%;
  }
  .carousel .changeHidden {
    width: 21rem;
  }
  .section {
    padding: 1rem 1rem;
  }

  .features__img {
    width: 100%;
    height: 280px;
  }
  .features__img2 {
    width: 95%;
    height: 505px;
  }

  .form-contact {
    width: 95%;
    margin: 40px auto 45px;
  }
}
@media screen and (max-width: 550px) {
  .top-a-propos {
    .arrow-left {
      position: absolute;
      top: 64px;
      left: 30px;
    }
  }
  .cadre {
    position: absolute;
    top: 27%;
  }
  .carousel .changeHidden {
    width: 18rem;
  }
}
@media screen and (max-width: 405px) {
  .phraseSlide {
    height: auto;
    width: 100%;
  }

  .carousel .changeHidden .element {
    font-size: 22px;
  }

  .features__img {
    width: 100%;
    height: 260px;
  }
  .features__img2 {
    width: 95%;
    height: 450px;
  }
}
