@media screen and (max-width: 1220px) {
  .top {
    .title-galerie {
      margin: 0 auto 40px;
    }
  }

  .container {
    // .grid-item {
    //   height: 180px;
    //   margin: 15px 15px;
    // }
    // .grid-item img {
    //   height: 180px;
    // }
    .text {
      padding: 25px;
    }
    .txt-photos {
      margin: 80px auto 100px;
    }
  }
}
@media screen and (max-width: 900px) {
  .top {
    .title-galerie {
      margin: 0 auto 30px;
    }

    .arrow-left {
      position: absolute;
      top: 55px;
      left: 155px;
    }

    .titles-galerie-secondary {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 28px;
    }
    .titles-galerie1 {
      margin: 0px 15px 15px 10px;
    }
    .titles-galerie2 {
      margin: 0px 15px 15px 10px;
    }
  }

  .container {
    .grille-traiteur {
      width: 100%;
      grid-template-columns: 1fr 1fr;
    }

    .txt-photos {
      width: 90%;
    }

    p {
      width: 80%;
      line-height: 1.7;
    }
  }
}
@media screen and (max-width: 768px) {
  .top {
    width: 90%;

    .title-galerie {
      margin: 0 auto 15px;
    }

    .arrow-left {
      position: absolute;
      top: 55px;
      left: 100px;
    }
  }
  .container {
    .photos-container {
      margin: 50px auto;
      width: 85%;
    }

    .btn-fermer-slider {
      width: 45px;
      height: 45px;
      font-size: 19px;
    }
    .btn-left,
    .btn-right {
      width: 40px;
      height: 40px;
    }
    .btn-left img,
    .btn-right img {
      width: 20px;
      height: 20px;
    }
    .img-visible-slider {
      width: 95%;
      height: 375px;
    }

    .txt-photos {
      width: 95%;
    }

    p {
      margin: 8px auto 0;
      width: 90% !important;
      line-height: 1.6;
    }
  }
}
@media screen and (max-width: 550px) {
  .top {
    width: 95%;
    background-position: 30% 40%;

    .arrow-left {
      position: absolute;
      top: 39px;
      left: 21px;
    }

    .title-galerie {
      margin: 0 auto 30px;
      font-size: 55px;
    }

    .titles-galerie-secondary {
      flex-direction: column;
      font-size: 26px;
    }
  }

  .container {
    .grille-traiteur {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
    }
    .grid-item {
      margin: 29px 20px;
    }
  }
}
@media screen and (max-width: 400px) {
  .top {
    .arrow-left {
      position: absolute;
      top: 51px;
      left: 18px;
    }
  }
  .container {
    .grid-item {
      margin: 10px 60px;
    }
    .txt-photos {
      background-position: 34% 29%;

      .title-origin-photos {
        font-size: 40px;
        margin-top: 10px;
        padding: 21px;
      }
      p {
        margin: 20px auto 40px;
        width: 80%;
        line-height: 1.8;
        text-shadow: $shadow-text;
      }
    }
  }
}
