.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  text-decoration: none;
  background: $color-secondary;
  border-radius: 100px;
  padding: 0.45rem;
  opacity: 9;
  z-index: 10;
  transition: 0.4s;
}
.scrollup:hover {
  background: #b4b4b4;
  opacity: 1;
}

.scrollup .fa-chevron-up {
  color: whitesmoke;
  font-size: 1.35rem;
}
/* Show Scroll Up*/
.show-scroll {
  bottom: 64px;
}
