$color-primary: #919090;
$color-secondary: linear-gradient(45deg, rgb(245, 218, 195) 0%, #e7ccaa 80%);
$color-tertiary: #382d21;

$font-title: "Italianno", cursive;
$font-text: "Poppins", sans-serif;
$shadow-text: 0px 3px 5px rgba(121, 121, 121, 0.6);
