$color-primary: #919090;
// $color-secondary: #be9277;
$color-secondary: #c2a689;

$font-title: "Italianno", cursive;
$font-text: "Poppins", sans-serif;
$shadow-text: 0px 3px 5px rgba(121, 121, 121, 0.6);
