@charset "UTF-8";
@font-face {
  font-family: "Italianno";
  src: url("../ressources/fonts/Italianno/Italianno-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../ressources/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#535153), color-stop(80%, #363636));
  background: linear-gradient(90deg, #535153 0%, #363636 80%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0.5rem 0.1rem 0 0.1rem;
}

/* --------------------header-------------------- */
.header {
  padding: 15px;
}

.titre-principal {
  background: url(../ressources/images/background.webp) no-repeat bottom;
  background-size: cover;
  border: 5px solid #9b9a9a;
  text-shadow: 0px 3px 5px rgba(121, 121, 121, 0.6);
}

.titre-principal .titre-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 35px 0px;
}

.titre-principal h1 {
  font-family: "Italianno", cursive;
  font-size: 65px;
  border-radius: 5px;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#2c2c2c), color-stop(80%, #3f3f3f));
  background: linear-gradient(90deg, #2c2c2c 0%, #3f3f3f 80%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.titre-principal img {
  width: 50px;
  height: 50px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-bottom: 15px;
  font-size: 25px;
}

.nav-links a {
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#2c2c2c), color-stop(80%, #3f3f3f));
  background: linear-gradient(90deg, #2c2c2c 0%, #3f3f3f 80%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 500;
}

.nav-links a:hover {
  background: linear-gradient(45deg, #797878 0%, #8f8f8f 80%);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  font-weight: bold;
}

.nav-links li {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-links li:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

/* --------------------Section Traiteur-------------------- */
.container-global {
  padding: 50px 0px 0px 0px;
}

.traiteur {
  margin: 50px 0px 100px 0px;
}

.traiteur h2 {
  font-family: "Italianno", cursive;
  font-weight: 600;
  margin: 100px auto 100px;
  font-size: 50px;
  text-align: center;
  background: url(../ressources/images/background.webp) no-repeat bottom/cover fixed;
  width: 90%;
  opacity: 0.9;
  border-radius: 5px;
  -webkit-box-shadow: 6px 3px 10px 3px rgba(81, 81, 81, 0.75);
          box-shadow: 6px 3px 10px 3px rgba(81, 81, 81, 0.75);
  border: 7px solid #9b9a9a;
}

.items-traiteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 100px 0;
  text-align: center;
}

.items-traiteur .txt-traiteur {
  width: 100%;
  background: #c2a689;
  border: 5px solid #9b9a9a;
  color: #333;
  padding: 10px 9px;
  border-radius: 3px;
  height: 275px;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  margin-left: 50px;
}

.slideshow {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  -webkit-animation: cycleImages 31s infinite;
          animation: cycleImages 31s infinite;
}

.slideshow-item img {
  width: 500px;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: zoom 31s infinite;
          animation: zoom 31s infinite;
  border-radius: 5px;
  opacity: 0.8;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes zoom {
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoom {
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/* --------------------Sections Parallax traiteur et patisserie-------------------- */
.parallax-traiteur {
  background: url(../ressources/images/parallax1.webp) no-repeat right/cover fixed;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  opacity: 0.6;
}

.txt-par1 {
  font-size: 25px;
  text-shadow: 0px 3px 5px rgba(121, 121, 121, 0.6);
  font-weight: bold;
  margin: 0 80px;
  text-align: center;
}

.parallax-patisserie {
  background: url(../ressources/images/parallax.webp) no-repeat top/cover fixed;
  opacity: 0.6;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
}

.txt-par2 {
  font-size: 25px;
  font-weight: bolder;
  margin: 0 40px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 3px 5px rgba(121, 121, 121, 0.6);
}

/* --------------------Section Pâtisserie-------------------- */
.patisserie {
  margin: 90px 0px 90px 0px;
}

.patisserie h2 {
  font-family: "Italianno", cursive;
  font-weight: 600;
  margin: 100px auto 100px;
  font-size: 50px;
  text-align: center;
  background: url(../ressources/images/background.webp) no-repeat bottom/cover fixed;
  width: 90%;
  opacity: 0.9;
  border-radius: 5px;
  -webkit-box-shadow: 6px 3px 10px 3px rgba(81, 81, 81, 0.75);
          box-shadow: 6px 3px 10px 3px rgba(81, 81, 81, 0.75);
  border: 7px solid #9b9a9a;
}

.items-patisserie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 100px 0;
  text-align: center;
}

.items-patisserie .txt-patisserie {
  width: 100%;
  background: #c2a689;
  border: 5px solid #9b9a9a;
  color: #333;
  padding: 10px 9px;
  border-radius: 3px;
  height: 275px;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  margin-right: 70px;
}

/* --------------------Section Adresse & Map-------------------- */
.localisation {
  margin: 100px auto 0;
  padding: 10px 5px 40px 5px;
  background: url(../ressources/images/background.webp) no-repeat bottom/cover fixed;
  border: 7px solid #9b9a9a;
  width: 50%;
  border-radius: 5px;
  -webkit-box-shadow: 6px 3px 10px 3px rgba(81, 81, 81, 0.75);
          box-shadow: 6px 3px 10px 3px rgba(81, 81, 81, 0.75);
}

.localisation h3 {
  font-family: "Italianno", cursive;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
}

.localisation .adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
  line-height: 1.6;
}

.localisation .logo-adress {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.localisation .local {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0px 3px 5px rgba(121, 121, 121, 0.6);
}

#map {
  height: 350px;
  width: 50%;
  margin: 50px auto;
}

h2 {
  font-family: "Italianno", cursive;
  font-size: 25px;
  letter-spacing: 2px;
}

.txt-window {
  font-family: "Italianno", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 22px;
}

.post-code {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* --------------------Footer page1-------------------- */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9b9a9a;
  margin-top: 100px;
  width: 100%;
}

.about .link-about {
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 35px;
  background: #c2a689;
  border-radius: 3px;
  border: 2px solid #77644f;
  color: #333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about .link-about:hover {
  color: #000;
  font-weight: 500;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #7c6a56;
}

.about h4 {
  font-size: 22px;
  text-align: center;
}

.about .logo {
  width: 150px;
  height: 150px;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about li {
  margin: 10px;
  list-style-type: none;
}

.about .logo-reseaux {
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.about .logo-reseaux:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  border-top: 1px dashed #333;
  background: #9b9a9a;
  padding: 30px 20px;
  text-align: center;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#535153), color-stop(80%, #363636));
  background: linear-gradient(90deg, #535153 0%, #363636 80%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0.5rem 0.1rem 0 0.1rem;
}

/* --------------------header-------------------- */
.top {
  background: url(../ressources/images/background.webp) no-repeat bottom;
  border: 5px solid #9b9a9a;
  border-radius: 4px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  width: 80%;
  border-radius: 5px;
}

.top .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .arrow-left {
  position: absolute;
  top: 45px;
  left: 155px;
}

.top .title-galerie {
  font-family: "Italianno", cursive;
  font-size: 65px;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 auto 60px;
}

.top .titles-galerie-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 31px;
}

.top .titles-galerie1 {
  margin: 0px 100px 0px 10px;
  text-decoration: none;
  color: #333;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.top .titles-galerie2 {
  margin: 0px 20px 0px 100px;
  text-decoration: none;
  color: #333;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.top .titles-galerie1:hover,
.top .titles-galerie2:hover {
  background: linear-gradient(45deg, #797878 0%, #8f8f8f 80%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}

.top .logo-galerie {
  -webkit-transition: -webkit-transform 1.1s ease-in-out;
  transition: -webkit-transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out, -webkit-transform 1.1s ease-in-out;
}

.top .logo-galerie:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* --------------------container-------------------- */
.container {
  margin: 10px auto;
  /* Slider */
}

.container .photos-container {
  margin-top: 40px;
  background-image: radial-gradient(circle at 54% 50%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 14% 71%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 42% 48%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 97% 84%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 74% 70%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 65% 42%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 59% 88%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 10% 69%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 41% 72%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 59% 78%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), -webkit-gradient(linear, left top, right top, from(#787777), to(#c2c0c0));
  background-image: radial-gradient(circle at 54% 50%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 14% 71%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 42% 48%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 97% 84%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 74% 70%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 65% 42%, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.03) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 59% 88%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 10% 69%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 41% 72%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 59% 78%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 4%, transparent 4%, transparent 96%), linear-gradient(90deg, #787777, #c2c0c0);
}

.container .grille-traiteur,
.container .grille-patisserie {
  width: 90%;
  max-width: 1700px;
  min-width: 300px;
  height: auto;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 360px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .grid-item {
  height: 200px;
  cursor: pointer;
  position: relative;
  margin: 20px 15px;
}

.container .grid-item img {
  width: 100%;
  height: 200px;
  border-radius: 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .slider-portfolio {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #333, #000);
  display: none;
}

.container .btn-fermer-slider {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}

.container .btn-left,
.container .btn-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .btn-left {
  left: 2%;
}

.container .btn-right {
  right: 2%;
}

.container .btn-left img,
.container .btn-right img {
  width: 25px;
  height: 25px;
}

.container .img-visible-slider {
  width: 60%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.container .text {
  color: #3b3b3b;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 22px;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background: url(../ressources/images/background.webp) no-repeat bottom/cover;
  border: 2px solid #333;
  -webkit-box-shadow: 1px 6px 20px 0px rgba(79, 79, 79, 0.75);
          box-shadow: 1px 6px 20px 0px rgba(79, 79, 79, 0.75);
  text-shadow: 0px 3px 5px rgba(121, 121, 121, 0.6);
}

.container .grid-item:hover .overlay {
  height: 100%;
}

.container .txt-photos {
  text-align: center;
  margin: 100px auto 100px;
  background: url(../ressources/images/background.webp) no-repeat;
  background-position: 11% 15%;
  background-size: cover;
  border: 8px solid #9b9a9a;
  width: 80%;
  border-radius: 5px;
  padding: 5px;
}

.container .txt-photos .title-origin-photos {
  font-size: 55px;
  padding: 15px;
}

.container .txt-photos p {
  margin: 20px auto 20px;
  width: 70%;
  line-height: 1.8;
  text-shadow: 0px 3px 5px rgba(121, 121, 121, 0.6);
}

.container .txt-photos span {
  margin-bottom: 5px;
  width: 60%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* --------------------header à propos-------------------- */
.top-a-propos {
  background: url(../ressources/images/background.webp) no-repeat bottom;
  background-size: cover;
  border: 7px solid #9b9a9a;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  width: 70%;
  border-radius: 4px;
}

.top-a-propos .item-top-propos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-a-propos .arrow-left {
  position: absolute;
  top: 48px;
  left: 195px;
}

.top-a-propos .title-a-propos {
  font-family: "Italianno", cursive;
  letter-spacing: 7px;
  font-size: 65px;
  text-align: center;
  padding: 5px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 auto 15px;
}

/* --------------------slide Phrases-------------------- */
.phraseSlide {
  height: 170px;
  width: 100%;
}

.cadre {
  position: absolute;
  top: 25%;
  left: 50%;
  color: white;
}

.centre {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -2.25rem;
}

.carousel {
  position: relative;
  width: 100%;
  height: 4.5rem;
  text-align: center;
  line-height: 45px;
}

.carousel .changeHidden {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  height: 13rem;
  line-height: 13rem;
  width: 40rem;
  overflow: hidden;
}

.carousel .changeHidden .contenant {
  position: relative;
  -webkit-animation: carousel 10s ease-in-out infinite;
          animation: carousel 10s ease-in-out infinite;
}

.carousel .changeHidden .element {
  font-weight: 700;
  font-size: 35px;
}

@-webkit-keyframes carousel {
  0%,
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,
  45% {
    -webkit-transform: translateY(-13rem);
            transform: translateY(-13rem);
  }
  50%,
  70% {
    -webkit-transform: translateY(-26rem);
            transform: translateY(-26rem);
  }
  75%,
  95% {
    -webkit-transform: translateY(-39rem);
            transform: translateY(-39rem);
  }
  100% {
    -webkit-transform: translateY(-52rem);
            transform: translateY(-52rem);
  }
}

@keyframes carousel {
  0%,
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,
  45% {
    -webkit-transform: translateY(-13rem);
            transform: translateY(-13rem);
  }
  50%,
  70% {
    -webkit-transform: translateY(-26rem);
            transform: translateY(-26rem);
  }
  75%,
  95% {
    -webkit-transform: translateY(-39rem);
            transform: translateY(-39rem);
  }
  100% {
    -webkit-transform: translateY(-52rem);
            transform: translateY(-52rem);
  }
}

/* --------------------Main-------------------- */
.section {
  border-bottom: 1px dashed #000;
  margin: 2rem 0 5rem 0;
  padding: 4rem;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 2rem;
}

.features__img {
  width: 500px;
  height: 300px;
  -webkit-box-shadow: 3px 6px 11px 0px rgba(58, 57, 57, 0.75);
          box-shadow: 3px 6px 11px 0px rgba(58, 57, 57, 0.75);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.features__img2 {
  width: 450px;
  height: 550px;
}

.features__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.features__feature {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.4rem;
  background: url(../ressources/images/background.webp) no-repeat center fixed;
  border: 5px solid #9b9a9a;
  border-radius: 5px;
}

.features__feature p {
  font-size: 21px;
  line-height: 1.3;
  position: relative;
  padding: 10px;
}

.features__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 1rem;
  font-family: "Italianno", cursive;
}

.features__header {
  font-size: 55px;
  margin: 7px 0px 0px 8px;
}

.form-contact {
  margin: 50px auto 150px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 9999px;
  background: #c2a689;
  border: 5px solid #9b9a9a;
  width: 30%;
}

.form-contact .form-title {
  font-family: "Italianno", cursive;
  font-size: 45px;
}

/* --------------------Footer galerie photos-------------------- */
.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9b9a9a;
  margin-top: 100px;
  width: 100%;
}

.adress .adresse-logo {
  text-align: center;
  padding: 10px 5px;
  background: #c2a689;
  border-radius: 3px;
  line-height: 1.5;
  border: 2px solid #77644f;
  color: #333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.adress .adresse-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  line-height: 1.6;
}

.adress .title-contact {
  font-size: 22px;
}

.adress .logo-adresse {
  width: 30px;
  height: 30px;
}

.adress .logo {
  width: 150px;
  height: 150px;
}

.adress .title-reseaux {
  font-size: 22px;
  text-align: center;
}

.adress ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adress li {
  margin: 10px;
  list-style-type: none;
}

.adress .logo-reseaux {
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.adress .logo-reseaux:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .traiteur h2 {
    margin: 70px auto 10px;
  }
  .items-traiteur {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .items-traiteur .txt-traiteur {
    margin-left: 0px;
    margin-top: 200px;
    width: 80%;
    height: auto;
  }
  .patisserie {
    margin: 80px 0px 80px 0px;
  }
  .patisserie h2 {
    margin: 50px auto 0px;
  }
  .items-patisserie {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .items-patisserie .txt-patisserie {
    margin-right: 0px;
    margin-top: 210px;
    width: 80%;
    height: auto;
  }
  .slideshow {
    position: revert;
    margin: 50px 0px 130px 0px;
  }
  .slideshow-item img {
    width: 70%;
    height: 295px;
  }
}

@media screen and (max-width: 1024px) {
  .traiteur {
    margin: 50px 0px 80px 0px;
  }
  .traiteur h2 {
    margin: 40px auto 10px;
  }
  .txt-traiteur,
  .txt-patisserie {
    font-size: 18px;
  }
  .parallax-patisserie,
  .parallax-traiteur {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .txt-par1,
  .txt-par2 {
    font-size: 23px;
    margin: 0 45px;
  }
}

@media screen and (max-width: 768px) {
  .titre-principal {
    height: 450px;
    background-position: bottom;
  }
  .titre-principal h1 {
    font-size: 50px;
  }
  .titre-principal img {
    width: 45px;
    height: 45px;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-links li {
    margin: 20px;
  }
  .txt-par1,
  .txt-par2 {
    font-size: 22px;
    margin: 0 65px;
  }
  /* --------------------Responsive Style Section Adresse & Map-------------------- */
  .localisation {
    margin: 50px auto 0;
    width: 70%;
  }
  .localisation .local {
    font-size: 18px;
    letter-spacing: 1px;
  }
  #map {
    border-radius: 4px;
    width: 70%;
  }
  /* --------------------Responsive style Footer page1-------------------- */
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .link-about {
    margin: 15px;
  }
}

@media screen and (max-width: 580px) {
  .titre-principal {
    height: 485px;
  }
  .titre-principal .titre-logos {
    padding: 9px;
  }
  .titre-principal h1 {
    font-size: 40px;
  }
  .titre-principal img {
    width: 40px;
    height: 40px;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-links a {
    font-size: 21px;
  }
  .nav-links li {
    margin: 15px;
  }
  .txt-par1,
  .txt-par2 {
    font-size: 20px;
    margin: 0 65px;
  }
}

@media screen and (max-width: 500px) {
  .titre-principal .titre-logos {
    padding: 21px;
  }
  .titre-principal h1 {
    font-size: 35px;
  }
  .titre-principal img {
    width: 35px;
    height: 35px;
  }
  .traiteur {
    margin: 20px auto 10px;
  }
  .traiteur h2 {
    margin: 40px auto 10px;
  }
  .items-traiteur {
    margin: 15px 0 40px 0;
  }
  .items-traiteur .txt-traiteur {
    width: 91%;
  }
  .slideshow img {
    width: 85%;
  }
  .parallax-traiteur {
    height: 320px;
  }
  .parallax-patisserie {
    height: 425px;
  }
  .txt-par1,
  .txt-par2 {
    font-size: 20px;
    margin: 0 50px;
  }
  .patisserie h2 {
    margin: 10px auto 0px;
  }
  .items-patisserie {
    margin: 20px 0 60px 0;
  }
  .items-patisserie .txt-patisserie {
    width: 92%;
  }
  .localisation {
    margin: 0 auto 0;
    width: 87%;
  }
  #map {
    width: 85%;
  }
  .about {
    margin-top: 70px;
  }
}

@media screen and (max-width: 1220px) {
  .top .title-galerie {
    margin: 0 auto 40px;
  }
  .container .photos-container {
    margin: 30px 0 30px 0;
  }
  .container .grille-traiteur,
  .container .grille-patisserie {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (305px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 305px);
  }
  .container .grid-item {
    height: 180px;
    margin: 15px 15px;
  }
  .container .grid-item img {
    height: 180px;
  }
  .container .text {
    padding: 25px;
  }
  .container .txt-photos {
    margin: 80px auto 100px;
  }
}

@media screen and (max-width: 900px) {
  .top .title-galerie {
    margin: 0 auto 30px;
  }
  .top .arrow-left {
    position: absolute;
    top: 55px;
    left: 155px;
  }
  .top .titles-galerie-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
  }
  .top .titles-galerie1 {
    margin: 0px 15px 15px 10px;
  }
  .top .titles-galerie2 {
    margin: 0px 15px 15px 10px;
  }
  .container .grille-traiteur,
  .container .grille-patisserie {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (250px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 250px);
  }
  .container .txt-photos {
    width: 90%;
  }
  .container p {
    width: 80%;
    line-height: 1.7;
  }
}

@media screen and (max-width: 768px) {
  .top {
    width: 90%;
  }
  .top .title-galerie {
    margin: 0 auto 15px;
  }
  .top .arrow-left {
    position: absolute;
    top: 55px;
    left: 100px;
  }
  .container .photos-container {
    margin: 30px;
    border-radius: 5px;
    padding: 10px;
  }
  .container .grille-traiteur,
  .container .grille-patisserie {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .container .btn-fermer-slider {
    width: 45px;
    height: 45px;
    font-size: 19px;
  }
  .container .btn-left,
  .container .btn-right {
    width: 40px;
    height: 40px;
  }
  .container .btn-left img,
  .container .btn-right img {
    width: 20px;
    height: 20px;
  }
  .container .img-visible-slider {
    width: 95%;
    height: 375px;
  }
  .container .txt-photos {
    width: 95%;
  }
  .container p {
    margin: 8px auto 0;
    width: 90% !important;
    line-height: 1.6;
  }
}

@media screen and (max-width: 550px) {
  .top {
    width: 95%;
    background-position: 30% 40%;
  }
  .top .arrow-left {
    position: absolute;
    top: 39px;
    left: 21px;
  }
  .top .title-galerie {
    margin: 0 auto 30px;
    font-size: 55px;
  }
  .top .titles-galerie-secondary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 26px;
  }
  .container .grille-traiteur,
  .container .grille-patisserie {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (290px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 290px);
  }
  .container .grid-item {
    margin: 29px 20px;
  }
  .container .grid-item img {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  .top .arrow-left {
    position: absolute;
    top: 51px;
    left: 18px;
  }
  .container .photos-container {
    margin: 10px;
  }
  .container .grille-traiteur,
  .container .grille-patisserie {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (423px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 423px);
  }
  .container .grid-item {
    margin: 10px 60px;
  }
  .container .txt-photos .title-origin-photos {
    font-size: 40px;
    margin-top: 10px;
    padding: 31px;
  }
  .container .txt-photos p {
    margin: 20px auto 40px;
    width: 80%;
    line-height: 1.8;
    text-shadow: 0px 3px 5px rgba(121, 121, 121, 0.6);
  }
}

@media screen and (max-width: 1200px) {
  .cadre {
    position: absolute;
    top: 27%;
    left: 50%;
  }
  .header__img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-top: 5rem;
  }
  .header__title {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
    -ms-grid-rows: 3fr 2fr;
        grid-template-rows: 3fr 2fr;
    row-gap: 1rem;
    margin-top: 5rem;
  }
  .section {
    padding: 5rem 2rem;
  }
  .features {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 5rem;
  }
  .features__img {
    width: 100%;
    height: 550px;
  }
  .features__img2 {
    width: 90%;
    height: 760px;
  }
  .form-contact {
    width: 35%;
  }
}

@media screen and (max-width: 1024px) {
  .cadre {
    position: absolute;
    top: 30%;
  }
  .features {
    margin: 0;
  }
  .features__img,
  .features__img2 {
    margin: 0 auto;
  }
  .form-contact {
    padding: 20px 30px;
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .top-a-propos {
    margin: 10px auto;
    padding: 20px 0px 0px 0px;
    width: 90%;
  }
  .top-a-propos .arrow-left {
    position: absolute;
    top: 64px;
    left: 80px;
  }
  .cadre {
    position: absolute;
    top: 28%;
  }
  .carousel .changeHidden {
    width: 30rem;
  }
  .carousel .changeHidden .element {
    font-size: 25px;
  }
  .features__img {
    width: 95%;
    height: 380px;
  }
  .features__img2 {
    width: 95%;
    height: 605px;
  }
  .form-contact {
    padding: 20px 5px;
    width: 65%;
    margin: 50px auto 100px;
  }
}

@media screen and (max-width: 550px) {
  .top-a-propos .arrow-left {
    position: absolute;
    top: 64px;
    left: 60px;
  }
  .top-a-propos .title-a-propos {
    font-size: 55px;
  }
  .cadre {
    position: absolute;
    top: 24%;
  }
  .carousel .changeHidden {
    width: 21rem;
  }
  .section {
    padding: 1rem 1rem;
  }
  .features__img {
    width: 100%;
    height: 280px;
  }
  .features__img2 {
    width: 95%;
    height: 505px;
  }
  .form-contact {
    width: 95%;
    margin: 40px auto 45px;
  }
}

@media screen and (max-width: 550px) {
  .top-a-propos .arrow-left {
    position: absolute;
    top: 64px;
    left: 30px;
  }
}

@media screen and (max-width: 405px) {
  .carousel .changeHidden .element {
    font-size: 22px;
  }
  .features__img {
    width: 100%;
    height: 260px;
  }
  .features__img2 {
    width: 95%;
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  .adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adress .adresse-logo {
    margin: 15px;
  }
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  background: #c2a689;
  border-radius: 100px;
  padding: 0.45rem;
  opacity: 9;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.scrollup:hover {
  background: #b4b4b4;
  opacity: 1;
}

.scrollup .fa-chevron-up {
  color: whitesmoke;
  font-size: 1.35rem;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 64px;
}
/*# sourceMappingURL=style.css.map */