@font-face {
  font-family: "Italianno";
  src: url("../ressources/fonts/Italianno/Italianno-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../ressources/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/index";
@import "./layout/galerie_photos";
@import "./layout/a_propos";
@import "./layout/footer";
@import "./layout/responsive_index";
@import "./layout/responsive_galerie";
@import "./layout/responsive_footer";
@import "./layout/scroll";
